.task {
  background: var(--gray-500);
  color: var(--gray-100);

  border: 1px solid var(--gray-400);
  border-radius: 8px;

  display: flex;
  align-items: flex-start;

  padding: 1rem;
  gap: 0.75rem;
}

.task + .task {
  margin-top: 0.75rem;
}

.task svg {
  cursor: pointer;

  line-height: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.task p {
  flex: 1;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  word-break: break-all;
}

.trashButton:hover path,
.trashButton:focus path {
  fill: var(--danger);
}

.trashButton:hover svg,
.trashButton:focus svg {
  background: var(--gray-400);

  border-radius: 4px;
}

.button {
  background: none;

  padding: 0;

  font-size: 0;

  border: none;
  outline: none;
}

.button svg {
  transition: all 0.2s ease-in-out;
}

.checkButton:focus svg,
.checkButton:hover svg {
  filter: brightness(1.3);

  border-radius: 4px;
}

.taskDone {
  text-decoration-line: line-through;

  color: var(--gray-300);
}
